/* Var */
/**
 * Mixins
 **/
.pagination-new {
  text-align: center;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
}
.pagination-new .input {
  width: 36px;
}
.pagination-new .pagination {
  display: inline-block;
  font-size: 0;
}
.pagination-new .btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  min-width: 36px;
  min-width: 16px\9;
  background: rgba(32, 32, 64, 0.04);
  background: #f3f3f8\9;
}
.pagination-new .btn.btn-first,
.pagination-new .btn.btn-last {
  width: 98px;
}
.pagination-new .btn:hover {
  background: rgba(32, 32, 64, 0.08);
  background: #ededf0\9;
}
.pagination-new .m {
  display: inline-block;
  width: 23px;
  font-size: 12px;
}
.pagination-new .n {
  vertical-align: -3px;
}
.pagination-new .btn-current {
  background-color: #FF8041 !important;
  color: #fff !important;
}
.pagination-new .btn-unreach {
  background: #fafafa !important;
  color: #ccc;
}
.pagination-new .go {
  display: inline-block;
  margin-left: 12px;
  color: #666;
  vertical-align: -1px;
}
.pagination-new .go .input {
  width: 36px;
  height: 24px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: -4px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.pagination-new .go .btn {
  vertical-align: -4px;
  width: 53px;
  margin-left: 4px;
}
